.Projects {
    padding: 20px;
    color: white;
    text-align: center;
    justify-content: center;
  }
  .Projects h2 {
    font-size: 2rem;
  font-weight: bold;
  color: #fffdfd; 
  margin-bottom: 0.5rem;
  border-bottom: 2px solid #dacdcdba; 
  padding-bottom: 0.3rem;
  }
  
  .section-heading {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 1rem;
    padding-bottom: 20px;
  }
 
  .Projects p {
    font-size: 1.1rem;
  color: #ffffff; 
  line-height: 1.5;
  margin-bottom: 0.8rem;
  }
  
  .Projects a {
    color: #0adc38;
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    font-size: larger;
    margin-top: 15px;

  }
  
  .Projects a:hover {
    color: rgb(255, 255, 255);
  }
  .try-button {
  margin-left: 20px;  
  border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #141414;
	background: #ffffff;
	box-shadow: 0 3px 20px 0 #0000003b;
  }

  .try-button:hover {
  cursor: pointer;
    }