
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 200px;
  height: 100%;
  background-color: #0d0d21;
  transition: left 0.5s ease;
  overflow-y: auto;
  text-align: center;
}

.sidebar.open {
  left: 0; 
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

nav {
  padding-top: 80px;
}

nav a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #555;
}

nav button {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: left;
  transition: background-color 0.3s;
  cursor: pointer;
}

nav button:hover {
  background-color: #555;
}